<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exotic Car Rentals</title>
  <link rel="stylesheet" href="/css/main.css">
  <style>
    /* Optional styling for the date pickers and other form elements */
  </style>
</head>
<body>
  <nav>
    <!-- Put links that you want to display at all times
         outside of the if/else 
    -->
    <a href="/">HOME</a>
    <a href="/cars">INVENTORY</a>
    <a href="/reservations">MY RESERVATIONS</a>
    <div>
      <% if (user) { %>
        <a href="/todos/new">ACCOUNT</a>&nbsp;&nbsp;
        <a href="/auth/logout">LOG OUT</a>&nbsp;&nbsp;
        <span>Welcome, <%= user.username %></span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/login">LOG IN</a>
      <% } %>
    </div>
  </nav>
</body>
</html>