* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10;
  margin: 0;
}

body {
  margin: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
  animation: slideshow 15s infinite;
}

@keyframes slideshow {
  0% {
    background-image: url('https://wallpapers.com/images/high/lamborghini-urus-4096-x-2304-wallpaper-j6gdm7kkcrqznfso.webp');
  }

  20%
  {
    background-image: url('https://wallpapers.com/images/high/mercedes-amg-background-kqt8sc4q8ec5gvo7.webp');
  }

  33% {
    background-image: url('https://wallpapers.com/images/high/rolls-royce-1920-x-1080-background-nx24f72uget7wq3q.webp');
  }

  25% {
    background-image: url('https://wallpapers.com/images/high/bugatti-background-q8pxjgcwj7usezp9.webp');
  }

  34% {
    background-image: url('https://wallpapers.com/images/high/blue-sports-car-sunrise-qt9gou1a6u74h7oi.webp');
  }

  40% {
    background-image: url('https://wallpapers.com/images/high/lamborghini-urus-1920-x-1080-wallpaper-nw8rj8and1jg9j37.webp');
  }

  66% {
    background-image: url('https://wallpapers.com/images/high/caption-ravishing-beauty-and-power-the-ferrari-488-gtb-cep3ecci7dc8xb1y.webp');
  }
  67% {
    background-image: url('https://wallpapers.com/images/high/best-cars-background-bdm253vlkohimmr3.webp');
  }

  100% {
    background-image: url('https://wallpapers.com/images/high/stylish-lamborghini-aventador-in-vibrant-sunset-ixa2ov4a8iegwsoo.webp');
  }
}

.city-container {
  margin-top: 15px;
}

.city-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

nav, footer {
  background-color:rgb(181, 172, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: rgb(128, 119, 153);
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button:hover {
  background-color: lightslategray;
  color: rgb(80, 78, 88);
}

.date-picker-container {
  margin: 20px 0;
}
.date-picker-container label {
  margin-right: 10px;
}
input[type="date"] {
  padding: 5px;
  margin-right: 20px;
}
