* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10;
}

body {
  margin: 0;
  background-image: url('https://wallpapers.com/images/high/lamborghini-urus-4096-x-2304-wallpaper-j6gdm7kkcrqznfso.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
}

.city-container {
  margin-top: 15px;
}

.city-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

nav, footer {
  background-color:rgb(181, 172, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: rgb(128, 119, 153);
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button:hover {
  background-color: lightslategray;
  color: rgb(80, 78, 88);
}

.date-picker-container {
  margin: 20px 0;
}
.date-picker-container label {
  margin-right: 10px;
}
input[type="date"] {
  padding: 5px;
  margin-right: 20px;
}
